#resetForm {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
#resetForm label {
    margin-top: 1em;
    display: block;
}
#resetForm input[type="password"] {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}
#resetForm button {
    padding: 0.7em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}
#resetForm button:hover {
    background-color: #0056b3;
}
#message {
    margin-top: 1em;
    color: red;
}
