{% extends 'base.html' %}
{% block title %} Request password reset {% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/request_reset_password.css' %}">
<h2 style="text-align: center;">Request password reset</h2>
<form id='request-reset-password-form' method="post">
    {% csrf_token %}
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type='submit'>Submit</button>
</form>
<div id="message"></div>

<script>
document.getElementById('request-reset-password-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const email = document.getElementById('email').value;
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    fetch("{% url 'api-request-reset-pasword' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({ email: email })
    })
    .then(response => response.json())
    .then(data => {
        const messageDiv = document.getElementById('message');
        if (data.message) {
            messageDiv.innerHTML = `<p>${data.message}</p>`;
        } else if (data.error) {
            messageDiv.innerHTML = `<p>${data.error}</p>`;
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>
{% endblock content %}