{% extends 'base.html' %}
{% block title %}Create View Access{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view_access/create_view_access.css' %}">

<form id="create-view-access-form">
    <label for="view_name">View Name:</label>
    <input type="text" id="view_name" name="view_name" required>
    <br>
    <label for="roles">Role:</label>
    <select id="roles" name="roles" multiple required>
        {% for role in roles %}
        <option value="{{ role.id }}">{{ role.name }}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit">Create View Access</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('Create View Access page loaded.');
        const accessToken = sessionStorage.getItem('access');

        if (!accessToken) {
            alert("Session expired. Please log in again.");
            window.location.href = "{% url 'login' %}";
            return;
        }

        // Handle form submission
        document.getElementById('create-view-access-form').addEventListener('submit', async function (e) {
            e.preventDefault();
            console.log("Submitting create view access form...");

            const selectedRoles = Array.from(document.getElementById('roles').selectedOptions).map(option => option.value);
            const data = {
                view_name: document.getElementById('view_name').value,
                roles: selectedRoles,
            };

            try {
                const response = await fetch('http://127.0.0.1:5000/uas_admin/api/create_view_access/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${accessToken}`
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();
                if (response.ok) {
                    alert('View Access created successfully.');
                    window.location.reload();
                } else {
                    alert('Error: ' + JSON.stringify(result));
                }
            } catch (err) {
                console.error("Error:", err);
                alert("An unexpected error occurred.");
            }
        });
    });
</script>
{% endblock content %}
